<style>
  .email-title {
     background-color: #919984;
     padding: 10px;

  }


  .email-content {
    padding-left: 12px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;

  }
  .email-content p {
    margin: 0px;
    padding-top: 20px;
    color: #484848;
    font-size: 18px;
  }
  .email-footer {
    padding: 10px 12px;
  }

  .email-footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .email-footer button {
    margin-right: 20px;
  }

</style>
<div class="email-container" style="width: 90%; margin: 0 auto;">
  <div class="email-title">
    <div>
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1591298249/LogosTilo-04_1.png" alt="" style="width: 120px; height: 62px; object-fit: cover;">
    </div>
  </div>
  <div class="email-content">
    <p>Hola <%= @user.name %>!!</p>
    <p>Gracias por ser parte de Tilo Tienda Natural 😀</p>
    <p>Nos vemos pronto.</p>
  </div>
  <div class="email-footer">
    <button style="padding: 10px 20px; background-color: #919984; border-radius: 8px; border-color: #919984;  text-decoration: none; color: white;"><%= link_to 'Ver Productos', root_url %>
    </button>
    <button style="padding: 10px 20px; background-color: #919984; border-radius: 8px; border-color: #919984;  text-decoration: none; color: white;"><%= link_to 'Novedades', root_url %>
    </button>
  </div>
</div>
