<br><br>
<div class="container text-center mt-5">
  <h2>Categorias Principales</h2>
  <table class="table table-striped table-bordered ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @divisions.each do |division| %>
      <tr>
        <th><%= division.title%></th>
        <td><%= link_to 'Editar', edit_division_path(division)  %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pt-3">
    <%= link_to 'Crear Categoria Principal', new_division_path, class: 'btn btn-primary btn-block' %>
    <br>
    <%= link_to 'Volver', :back, class: 'btn btn-danger btn-block' %>
  </div>
</div>

