<h1>Divisions#show</h1>
<div class="division-banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @division.photo %>');">
  <div>
    <h2><%= @division.title %></h2>
  </div>
</div>
