<div class="division-banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @division.photo %>');">
  <div>
    <h2><%= @division.title %></h2>
  </div>
</div>
<section id="category-list">
  <div class="categories-list text-center d-md-flex justify-content-center">
    <% @division.categories.each do |category| %>
    <p><%= link_to category.title , category_path(category)  %></p>
    <% end %>
  </div>
</section>
<section id="division-container">
<%= render 'shared/cards' %>
</section>
