<div class="denied-wrapper d-flex justify-content-center align-items-center" style="height: 100vh; background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579282940892-6152e6e80c52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80); background-size: cover; background-position: center;" >
  <div class="denied-container">
    <h2 style="font-weight: bold;
    color: white;
    font-size: 36px;">Acceso Denegado</h2>
    <%= link_to 'Volver', :back, class: 'btn btn-lg btn-danger btn-block'  %>
  </div>
</div>
