<div class="footer text-center">

  <h4>Pedidos por Whatssap al: <a href="tel:+5493364526253">3364526253</a> </h4>
  <h4>Rivadavia 246, San Nicolás de los Arroyos, Buenos Aires, Argentina</h4>
  <h2><i class="far fa-copyright"></i> Tilo Tienda Natural</h2>
  <h3>Made by - <%= link_to 'GV', 'http://www.guillermo-varela.com/', target: '_blank'  %></h3>
</div>

