<div class="product-card home-card">
  <%= link_to product_path(product) do %>
  <% product.photos.first(1).each do |photo| %>
  <%= cl_image_tag photo.key%>
  <% end %>
  <p><%= product.title.truncate(30) %></p>
  <h4><%= humanized_money_with_symbol(product.price) %></h4>
  <% end %>
</div>


