<div class="social-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dokddymx6/image/upload/v1591538971/Captura_de_Pantalla_2020-06-07_a_la_s_11.06.14_mfxvby.jpg);">
  <%= link_to 'https://www.instagram.com/tilotiendanatural/' , target: '_blank' do  %>
  <h2 class="text-center"><i class="fab fa-instagram"></i> tilotiendanatural</h2>
  <div class="social-container">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591539000/Captura_de_Pantalla_2020-06-07_a_la_s_11.08.31_uv0lnr.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591538999/Captura_de_Pantalla_2020-06-07_a_la_s_11.08.17_ypkxd8.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591538993/Captura_de_Pantalla_2020-06-07_a_la_s_11.07.31_vcu4xx.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591799182/Captura_de_Pantalla_2020-06-10_a_la_s_11.19.19_w99wgc.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591539700/Captura_de_Pantalla_2020-06-07_a_la_s_11.20.53_pvkgfb.jpg" alt="" class="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591538992/Captura_de_Pantalla_2020-06-07_a_la_s_11.06.57_m2cgrt.jpg" alt="">
  </div>
  <% end %>
</div>
