<div class="topbar-container d-sm-flex align-items-center justify-content-center text-center">
  <i class="fas fa-truck-moving"></i><p>Envíos Gratis en San Nicolás para compras superiores a $3.000</p>
</div>
