<div class="topbar-container d-sm-flex align-items-center justify-content-center text-center">
  <p><div><i class="fas fa-truck"></i><strong> Envio gratis en compras superiores a $4000</strong></div><small>*dentro de San Nicolás</small></p>
</div>
<div class="topbar-sub-container text-center">
  <p class=""> <small>*Lista de precios orientativa!!</small></p>
</div>

