<div class="main-banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dokddymx6/image/upload/v1591368143/photo-1590080876351-941da357bde6_or9iz5.jpg);">
  <div class="main-container">
    <h1>TILO</h1>
    <p>TIENDA NATURAL</p>
  </div>
</div>
<section id="home-products">
  <%= render 'cards' %>
</section>
<section id="social">
  <%= render 'shared/social' %>
</section>
<section id="home-products-footer">
  <div class="p-5 text-center home-title">
    <h2>Destacados</h2>
    <h3></h3>
  </div>
  <div class="scrolling-wrapper">
    <div class="home-card-container">
      <% @products.last(8).each do |product| %>
      <%= render 'shared/home_cards', product: product %>
      <% end %>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>

