<div class="main-banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dokddymx6/image/upload/v1591368143/photo-1590080876351-941da357bde6_or9iz5.jpg);">
  <div class="main-container">
    <h1>TILO tienda natural</h1>
  </div>
</div>
