<%= render 'shared/navbar' %>
<div class="container info-important">
  <h2>Información importante</h2>
  <h3 style="text-decoration: underline;"><strong>CONTACTO</strong></h3>
  <ul>
    <li>El local esta ubicado en calle Rivadavia 246 esquina Juan B Justo (frente a la plaza Sarmiento)</li>
    <li>Abrimos TODOS los días, en los siguientes horarios:</li>
    <li>Nuestro mail es tilotiendanatural@gmail.com</li>
  </ul>
  <h3 style="text-decoration: underline;"><strong>COMPRAS ONLINE</strong></h3>
  <ul>
    <li>Luego de realizar el pedido, nos contactaremos dentro de las 24 hs vía mail para confirmar stock y coordinar entrega (entre las 16hs – 18hs)</li>
    <li>El envío tiene un costo de $60 (zona centro), $90 (Somisa, Costa Juncal, Alma Verde, etc).</li>
    <li>Pedidos para Ramallo y/o Villa Constitución contactarse por mail o Instagram para coordinar.</li>
    <li>No hay pedido mínimo.</li>
    <li>Trabajamos con Mercado Pago, también aceptamos transferencias bancarias y pagos en efectivo y con tarjetas de crédito/debito en el local.</li>
  </ul>
</div>
<%= render 'shared/footer' %>
