.btn-filter {
  border-color: $green;
  border: 2px solid $green;
  background-color: transparent;
  color: $green;
  border-radius: 8px;
  padding: 2px 8px;

  i {
    color: $green;
  }
}


.btn-filter-solid {
  border-color: $green;
  border: 2px solid $green;
  background-color: $green;
  color: white;
  border-radius: 8px;
  padding: 2px 8px;
}

.btn-product {
  background-color: $green;
  border-color: $green;
  color: white;
}


.btn-dropdown {
  background-color: transparent;
  color: $green;
  border-color: $green;
  &:hover {
    color: $green;
  }
}
.quantity-product-container {
  .dropdown-item {

   color: $green;
 }
}



