//Top bar

.topbar-container {
  padding: 10px;
  color: $green;
  p {
    margin-bottom: 0px;
    margin-left: 6px;
  }
}
.navbar-lewagon {
  justify-content: space-between;
  background: #929884;
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0px;
  .navbar-toggler {
    border: transparent;
    &:focus {
      outline: none;
    }
  }



  .nav-item {
    color: white ;
    padding-left: 10px;
  }
  .nav-link {
    color: white !important;
    font-size: 17px;
    &:hover {
      color: lightgrey !important;
    }

  }

  .navbar-brand {
    margin-right: 0px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// the mobile right part
.cart-item-lg {
  margin-right: 10px;
  a {
   color: white;
 }
}

.magnify {
  width: 54px;
  a {
    text-decoration: none;
  }
}
.cart-item {
  font-size: 16px;
  margin-left: -30px;
  i {
    color: white;
    font-size: 24px;
  }
  a {
    color: white;
  }

}

// full size search
.cart-search{
  font-size: 22px;
  margin-left: 6px;
   a {
    color: white;
  }
}
// for the Javascript
.transparent {
  display: none;
}

.block {
  display: block;
}

.fa-times {
  color: white;
  width: 30px;
  height: 30px;
}


@media(max-width: 765px) {
  .topbar-container {
  padding: 10px;
  color: $green;
  p {
    margin-bottom: 0px;
    margin-left: 6px;
    font-size: 13px;
  }
}
}
