.payment-wrapper {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.payment-navbar {
  width: 100%;
  background-color: $green;
  border-radius: 6px 6px 0px 0px;
  padding: 10px 0px;
}

.payment-container {
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 6px;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 600px;
  h2 {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 18px;
  }
}

.payment-order {
  padding: 40px;
  padding-bottom: 30px;
  p {
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
}


@media(max-width: 700px) {
  .payment-container {
    top: 150px;
    width: 90%;
  }

  .payment-order {
    padding: 20px;
    p {
      font-size: 16px;
      padding-bottom: 10px;
    }
  }
}

