<%= simple_form_for @category do |f| %>
<p>Nombre</p>
<%= f.input :title, label: false %>
<p>Categoria Principal</p>
<%= f.association :division, label: false %>
<%= f.submit 'Crear Categoria', class: 'btn btn-dark btn-block' %>
<% end %>
