<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Filtrar por
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Filtrar por:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="sidebar-filter">
          <% @products.last(1).each do |product| %>
          <% if product.brand.present? %>
          <h2>Marcas</h2>
          <% else %>
          <% end %>
          <% end %>
          <% @category.products.uniq(&:brand).each do |product| %>
          <p><%= link_to product.brand, category_path(brand: product.brand)%></p>
          <% end %>
          <hr style="border-width: 2px;">
          <h2>Apto para:</h2>
          <% @category.products.uniq(&:condition).each do |product| %>
          <p><%= link_to product.condition, category_path(condition: product.condition)%></p>
          <% end %>
          <hr style="border-width: 2px;">    <p><%= link_to 'Todos', category_path(@category)  %></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
