<div class="sidebar-container">
  <h2>Categorias:</h2>
  <div class="sidebar-list">
    <p style="color: grey;"><%= @category.title %></p>
    <h3></h3>
    <% division_title =  @category.division.title %>
    <% category_links = @categories.filter { |category| category.division.title == division_title } %>
    <% category_links.each do |g| %>
    <%= link_to category_path(g) do  %>

    <p><%= g.title %></p>
    <% end %>
    <% end %>
  </div>
  <h2>Filtrar por:</h2>
  <div class="sidebar-filter">
    <h2>Sabor</h2>
    <% @category.products.each do |r| %>
    <h5><%= link_to r.stock, category_path(stock: r.stock)%></h5>
    <% end %>
  </div>
</div>
