.user-show-wrapper {
  width: 90%;
  margin: 24px auto;
  h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
  }
}

.user-show-container{
  width: 90%;
  margin: 24px auto;
}

.about-container {
  width: 90%;
  margin: 10px auto;
  display: flex;
}
.nav-tab {
 flex: 0 0 30%;
 padding-right: 10px;
}

.nav {
  position: sticky;
  top: 90px;
}

.user-order-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 400px;
}

.nav-tab-content {
  width: 100%;
}

.user-show-title {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
  h2 {
    font-size: 22px;
    font-weight: bold;
  }
  h3 {
    font-size: 14px;
    color: #167a92;
    &:hover {
      text-decoration: underline;
    }
  }
}
.hidden {
  display: none;
}

.nav-pills .nav-link.active {
  background-color: $green;
}

.nav-tab {
  a {
    color: $green;
  }
}

.product-user-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgrey;
  color: black;
}

.profile-user-container {
  h2 {
    font-size:16px;
    font-weight: bold;
    color: rgb(72, 72, 72);
  }

  p {
    font-size: 16px;
    color: rgb(72, 72, 72);
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
  }
}
//user index part
.users-container {
  width: 90%;
  margin: 100px auto;
}


@media(max-width: 700px) {

  .user-show-title {
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    h3 {
      font-size: 14px;
    }
    a {
      color: $green;
    }
  }


  .about-container {
    display: block;
  }

  .nav-tab {
    text-align: center;
  }

  .nav {
    margin-bottom: 40px;
  }

  .product-user-title {
    font-size: 17px;
  }

  .users-container {
    width: 100%;
  }
}
